*
!paxsync.inc.sh
!db_dump.inc.sh
!git_nonbare.inc.sh
!run_paxsync.sh.demo
!run_db_dumps.sh.demo
!run_git_nonbare.sh.demo
!test_target/syncme.txt
!test_target/.gitlike/skipme.txt
!LICENSE.txt
!README.rst
!.gitignore
